force-app/main/default/flows/Kiva_Transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>addTransactionsToCollection</name>
        <label>addTransactionsToCollection</label>
        <locationX>165</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>NewKivaTransactionsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Kiva_Transaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecrementInstallmentsLeft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DecrementInstallmentsLeft</name>
        <label>DecrementInstallmentsLeft</label>
        <locationX>400</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>installmentsLeft</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterestFeeRemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Kiva_Transaction.Admin_fee_for_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KivaPaymentRemaining</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Kiva_Transaction.Kiva_Payment_due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcInvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InstallmentsGreaterThanZero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GenerateKivaTransaction</name>
        <label>GenerateKivaTransaction</label>
        <locationX>166</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Kiva_Transaction.Kiva_Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Kiva_Loan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Kiva_Transaction.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123c000000V9b9AAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Kiva_Transaction.Date_due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Kiva_Transaction.Payment_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Kiva_Transaction.Admin_fee_for_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcInterestFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Kiva_Transaction.Kiva_Payment_due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcKivaPaymentOnly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Kiva_Transaction.Total_of_scheduled_Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Installments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTransactionsToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InstallmentsGreaterThanZero</name>
        <label>InstallmentsGreaterThanZero</label>
        <locationX>393</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>InsertKivaTransactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>greaterThanZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>installmentsLeft</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GenerateKivaTransaction</targetReference>
            </connector>
            <label>greaterThanZero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Approved_and_Ready_for_Transactions</name>
        <label>Loan Approved and Ready for Transactions</label>
        <locationX>547</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Approval_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Schedule_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Kiva_Loan_Record.Transaction_Invoices__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Schedule_Existing</targetReference>
            </connector>
            <label>Loan Schedule Already Exists</label>
        </rules>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Kiva_Loan_Record.Loan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repayment_Schedule_Inputs</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Interest_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Interest_Rate_Type__c</picklistField>
        <picklistObject>Kiva_Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Repeat_Units</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Repeat_Unit__c</picklistField>
        <picklistObject>Kiva_Loan__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>calcInterestFee</name>
        <dataType>Number</dataType>
        <expression>IF({!installmentsLeft}&gt;1,
{!Get_Kiva_Loan_Record.Adm_Fee__c}/{!Number_of_Installments},
{!InterestFeeRemaining}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcInvoiceDate</name>
        <dataType>Date</dataType>
        <expression>DATE( 
YEAR( {!invoiceDueDate}) + FLOOR( ( MONTH ( {!invoiceDueDate} ) + {!Payment_Repeat_Frequency} - 1 ) / 12 ), 
 MOD( MONTH ( {!invoiceDueDate} ) + {!Payment_Repeat_Frequency} - 1 + 
    IF( DAY ( {!invoiceDueDate}) &gt; CASE( MOD( MONTH( {!invoiceDueDate}) + {!Payment_Repeat_Frequency} - 1, 12 ) + 1, 
      2, 28,
      4, 30,
      6, 30,
      9, 30, 
      11, 30,
      31 ), 1, 0 ), 12 ) + 1,
IF( DAY( {!invoiceDueDate} ) &gt; CASE( MOD( MONTH( {!invoiceDueDate} ) + {!Payment_Repeat_Frequency} - 1, 12 ) + 1,
      2, 28, 
      4, 30, 
      6, 30, 
      9, 30, 
      11, 30, 
      31 ), 
    1, DAY( {!invoiceDueDate})
  )
)</expression>
    </formulas>
    <formulas>
        <description>Not including Interest</description>
        <name>calcKivaPaymentOnly</name>
        <dataType>Number</dataType>
        <expression>IF({!installmentsLeft}&gt;1,
{!Get_Kiva_Loan_Record.Kiva_Loan_Amount__c}/{!Number_of_Installments},
{!KivaPaymentRemaining}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>decrimentInstallmentsLeft</name>
        <dataType>Number</dataType>
        <expression>{!installmentsLeft}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Kiva Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Kiva Transactions Insert v0.3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertKivaTransactions</name>
        <label>InsertKivaTransactions</label>
        <locationX>594</locationX>
        <locationY>680</locationY>
        <inputReference>NewKivaTransactionsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Kiva_Loan_Record</name>
        <label>Get Kiva Loan Record</label>
        <locationX>547</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Approved_and_Ready_for_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>originalLoanID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kiva_Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Record</name>
        <label>Update Loan Record</label>
        <locationX>393</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>InstallmentsGreaterThanZero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>originalLoanID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annualized_Interest_Rate__c</field>
            <value>
                <elementReference>Annualized_Interest_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Repayment_Date__c</field>
            <value>
                <elementReference>First_Repayment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_Rate_Type__c</field>
            <value>
                <elementReference>Interest_Rate_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Installments__c</field>
            <value>
                <elementReference>Number_of_Installments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repeat_Frequency__c</field>
            <value>
                <elementReference>Payment_Repeat_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repeat_Unit__c</field>
            <value>
                <elementReference>Repeat_Frequency_Unit</elementReference>
            </value>
        </inputAssignments>
        <object>Kiva_Loan__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Needed</name>
        <label>Approval Needed</label>
        <locationX>670</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Must_be_Approved</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(6, 40, 234); font-size: 14px;&quot;&gt;The loan must be approved to create expected payment transactions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loan_Schedule_Existing</name>
        <label>Loan Schedule Existing</label>
        <locationX>888</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>loanScheduleAlreadyExists</name>
            <fieldText>&lt;p&gt;A repayment schedule already exists for this loan. Please either:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Edit the existing &apos;Kiva Transactions&apos; in the related list, OR&lt;/li&gt;&lt;li&gt;Delete all Kiva Transactions of the type &quot;Kiva Invoice&quot; if you would like to recreate the schedule.  &lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Repayment_Schedule_Inputs</name>
        <label>Repayment Schedule Inputs</label>
        <locationX>393</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Loan_Record</targetReference>
        </connector>
        <fields>
            <name>First_Repayment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>First_Repayment_Date</elementReference>
            </defaultValue>
            <fieldText>First Repayment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Installments</name>
            <dataType>Number</dataType>
            <fieldText>Number of Installments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Payment_Repeat_Frequency</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Payment Repeat Frequency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Repeat_Frequency_Unit</name>
            <choiceReferences>Repeat_Units</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Month(s)</stringValue>
            </defaultValue>
            <fieldText>Repeat Frequency Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Interest_Rate_Type</name>
            <choiceReferences>Interest_Type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Use Flat Interest Rate</stringValue>
            </defaultValue>
            <fieldText>Interest Rate Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Annualized_Interest_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Kiva_Loan_Record.Annualized_Interest_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Annualized Interest Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>421</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Kiva_Loan_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>installmentsLeft</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Number_of_Installments</elementReference>
        </value>
    </variables>
    <variables>
        <name>InterestFeeRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Kiva_Loan_Record.Adm_Fee__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>invoiceDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>First_Repayment_Date</elementReference>
        </value>
    </variables>
    <variables>
        <name>invoiceNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Kiva_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Kiva_Transaction__c</objectType>
    </variables>
    <variables>
        <name>KivaPaymentRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Kiva_Loan_Record.Kiva_Loan_Amount__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewKivaTransactionsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Kiva_Transaction__c</objectType>
    </variables>
    <variables>
        <name>originalLoanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
