force-app/main/default/flows/KivaAPIMenu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_GET</name>
        <label>Call GET</label>
        <locationX>996</locationX>
        <locationY>571</locationY>
        <actionName>KivaGetLoans</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CountryLabel</name>
            <value>
                <elementReference>CountryLabel2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>limitValue</name>
            <value>
                <elementReference>Limit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>offsetValue</name>
            <value>
                <elementReference>Offset</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queryValue</name>
            <value>
                <elementReference>Query</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusValue</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_Post_Journals</name>
        <label>Call POST Journals</label>
        <locationX>92</locationX>
        <locationY>595</locationY>
        <actionName>KivaPostLoanJournals</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CountryLabel</name>
            <value>
                <elementReference>CountryLabel_journal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalsForPosting</name>
            <value>
                <elementReference>Idlist</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallPOST</name>
        <label>CallPOST</label>
        <locationX>1283</locationX>
        <locationY>305</locationY>
        <actionName>KivaPostLoanDraft</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CountryLabel</name>
            <value>
                <elementReference>CountryLabel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KivaLoanDrafts</name>
            <value>
                <elementReference>Idlist</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Records_found_for_repayment</name>
        <label>Records found for repayment</label>
        <locationX>50</locationX>
        <locationY>297</locationY>
        <actionName>KivaPostLoanRepayments</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CountryLabel</name>
            <value>
                <elementReference>CountryLabel_repayments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RepayingKivaLoans</name>
            <value>
                <elementReference>Idlist</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addIdtoList</name>
        <label>addIdtoList</label>
        <locationX>965</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>Idlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addIdtoList_0</name>
        <label>addIdtoList</label>
        <locationX>352</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>Idlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_IDs_for_repayments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_IDs_for_repayments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addIdtoList_0_0</name>
        <label>addIdtoList</label>
        <locationX>425</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>Idlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_IDs_for_journals.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_IDs_for_journals</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaulted</name>
        <choiceText>defaulted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>defaulted</stringValue>
        </value>
    </choices>
    <choices>
        <name>ended</name>
        <choiceText>ended</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ended</stringValue>
        </value>
    </choices>
    <choices>
        <name>expired</name>
        <choiceText>expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>fundRaising</name>
        <choiceText>fundRaising</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fundRaising</stringValue>
        </value>
    </choices>
    <choices>
        <name>GET_Loans</name>
        <choiceText>GET Loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GET Loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>inactive</name>
        <choiceText>inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>inactive</stringValue>
        </value>
    </choices>
    <choices>
        <name>inactive_expired</name>
        <choiceText>inactive_expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>inactive_expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>issue</name>
        <choiceText>issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>payingBack</name>
        <choiceText>payingBack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>payingBack</stringValue>
        </value>
    </choices>
    <choices>
        <name>POST_Draft_Loans</name>
        <choiceText>POST Draft Loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POST Draft Loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>POST_Journals</name>
        <choiceText>POST Journals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POST Journals</stringValue>
        </value>
    </choices>
    <choices>
        <name>POST_Repayments</name>
        <choiceText>POST Repayments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POST Repayments</stringValue>
        </value>
    </choices>
    <choices>
        <name>raised</name>
        <choiceText>raised</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>raised</stringValue>
        </value>
    </choices>
    <choices>
        <name>refunded</name>
        <choiceText>refunded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>refunded</stringValue>
        </value>
    </choices>
    <choices>
        <name>reviewed</name>
        <choiceText>reviewed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>reviewed</stringValue>
        </value>
    </choices>
    <decisions>
        <description>what API calls we want to make</description>
        <name>Which_API_to_use</name>
        <label>Which API to use?</label>
        <locationX>667</locationX>
        <locationY>329</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Answer_is_GET_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_API_to_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GET_Loans</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Get_Parameters</targetReference>
            </connector>
            <label>Answer is GET Loans</label>
        </rules>
        <rules>
            <name>Answer_is_POST_Draft_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_API_to_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>POST_Draft_Loans</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eligible_Loans</targetReference>
            </connector>
            <label>Answer is POST Draft Loans</label>
        </rules>
        <rules>
            <name>Answer_is_POST_Repayments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_API_to_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>POST_Repayments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eligible_Loans_for_repayments</targetReference>
            </connector>
            <label>Answer is POST Repayments</label>
        </rules>
        <rules>
            <name>Answer_is_POST_Journals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_API_to_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>POST_Journals</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>which_journals</targetReference>
            </connector>
            <label>Answer is POST Journals</label>
        </rules>
    </decisions>
    <interviewLabel>KivaAPIMenu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Kiva API Menu</label>
    <loops>
        <name>Extract_IDs</name>
        <label>Extract IDs</label>
        <locationX>973</locationX>
        <locationY>311</locationY>
        <collectionReference>Get_Eligible_Loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addIdtoList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Extract_IDs_for_journals</name>
        <label>IDs for Journals</label>
        <locationX>423</locationX>
        <locationY>595</locationY>
        <collectionReference>Get_Eligible_Journals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addIdtoList_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Journals_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Extract_IDs_for_repayments</name>
        <label>Extract IDs</label>
        <locationX>352</locationX>
        <locationY>286</locationY>
        <collectionReference>Get_Eligible_Loans_for_repayments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addIdtoList_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_found_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Eligible_Journals</name>
        <label>Get Eligible Journals</label>
        <locationX>567</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_IDs_for_journals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_NAME_to_post</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Kiva_Journal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eligible_Loans</name>
        <label>Get Eligible Loans</label>
        <locationX>860</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Theme_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Kiva_Loan__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eligible_Loans_for_repayments</name>
        <label>Get Eligible Loans for Repayments</label>
        <locationX>477</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_IDs_for_repayments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outstanding_Principal_Balance__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Kiva_Loan__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_Get_Parameters</name>
        <label>Enter Get Parameters</label>
        <locationX>812</locationX>
        <locationY>576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_GET</targetReference>
        </connector>
        <fields>
            <name>Query</name>
            <dataType>String</dataType>
            <fieldText>Query</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offset</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Offset</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Limit</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>500.0</numberValue>
            </defaultValue>
            <fieldText>Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>refunded</choiceReferences>
            <choiceReferences>inactive</choiceReferences>
            <choiceReferences>inactive_expired</choiceReferences>
            <choiceReferences>fundRaising</choiceReferences>
            <choiceReferences>expired</choiceReferences>
            <choiceReferences>raised</choiceReferences>
            <choiceReferences>payingBack</choiceReferences>
            <choiceReferences>ended</choiceReferences>
            <choiceReferences>reviewed</choiceReferences>
            <choiceReferences>issue</choiceReferences>
            <choiceReferences>defaulted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CountryLabel2</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Kiva Credentials Moz</stringValue>
            </defaultValue>
            <fieldText>CountryLabel2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_the_Kiva_Loans_to_send</name>
        <label>Find the Kiva Loans to send</label>
        <locationX>680</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_API_to_use</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;What do you want to do?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_API_to_call</name>
            <choiceReferences>GET_Loans</choiceReferences>
            <choiceReferences>POST_Draft_Loans</choiceReferences>
            <choiceReferences>POST_Repayments</choiceReferences>
            <choiceReferences>POST_Journals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose API to call</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Records_found</name>
        <label>Records found</label>
        <locationX>1135</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallPOST</targetReference>
        </connector>
        <fields>
            <name>loansfound</name>
            <fieldText>&lt;p&gt;Number of loans found: {!ListSize}&lt;/p&gt;&lt;p&gt;Id:&lt;/p&gt;&lt;p&gt;{!Get_Eligible_Loans}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CountryLabel</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Kiva Credentials Moz</stringValue>
            </defaultValue>
            <fieldText>CountryLabel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Records_found_0</name>
        <label>Records found</label>
        <locationX>198</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Records_found_for_repayment</targetReference>
        </connector>
        <fields>
            <name>loansfound_0</name>
            <fieldText>&lt;p&gt;Number of loans found: {!ListSize}&lt;/p&gt;&lt;p&gt;Id:&lt;/p&gt;&lt;p&gt;{!Get_Eligible_Loans_for_repayments}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CountryLabel_repayments</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Kiva Credentials Moz</stringValue>
            </defaultValue>
            <fieldText>CountryLabel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Journals_found</name>
        <label>Records found</label>
        <locationX>258</locationX>
        <locationY>599</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Post_Journals</targetReference>
        </connector>
        <fields>
            <name>Journals_Found</name>
            <fieldText>&lt;p&gt;Number of journals found: {!ListSize}&lt;/p&gt;&lt;p&gt;Id:&lt;/p&gt;&lt;p&gt;{!Get_Eligible_Journals}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CountryLabel_journal</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Kiva Credentials Moz</stringValue>
            </defaultValue>
            <fieldText>CountryLabel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>which_journals</name>
        <label>which journals</label>
        <locationX>565</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Eligible_Journals</targetReference>
        </connector>
        <fields>
            <name>Journal_NAME_to_post</name>
            <dataType>String</dataType>
            <fieldText>Journal NAME to post</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>552</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_the_Kiva_Loans_to_send</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Idlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
